@import '../../../scss/vars.scss';

.outer-container {
	margin: 12px;
}


.content-container {
	background: #fff;
    border-radius: 10px;
	padding: 14px;
}

.tab-list {
	background-color: #fff;
	border-radius: 10px;
	padding: 14px;
	height: 500px;
	margin-right: 12px;
	overflow-y: scroll;
}

.inner-container {
	border-radius: 10px;
	background-color: $body-bg-color;
	padding: 2px 4px 2px 2px;
}